@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    font-family: "Quicksand";
    font-size: 24px;
    background-color: #171717;
    color: #B6FFED;
}
.logo-text{
    color: #B6FFED;
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
}
.main-header{
    flex: 0 1 auto;
}
.main-content{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.detail-image-container{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-image-frame{
    text-align: center;
    position: relative;
    transition: transform 750ms cubic-bezier(.4,.03,.69,1.05);
}
.is-tiny{
    transform: scale(0.75);
    transition: transform 0ms;
}
.detail-image{
    width: 90%;
}
.detail-image-title{
    position: absolute;
    bottom: -16px;
    left: 10px;
    font-size: 40px;
    text-shadow: rgba(237, 238, 255, 0.6) 1px 2px 5px;
    font-family: 'Pacifico';
}
.thumbnail-list{
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px 0;
    white-space: nowrap;
    overflow-x: auto;
}
.thumbnail-item{
    display: inline-block;
    min-width: 140px;
    max-width: 140px;
    border: 1px solid rgb(255,255,255);
    border: 1px solid rgba(255,255,255, 0.2);
    background-color: #333333;
    transition: transform 100ms ease-in-out;
}
.thumbnail-item:hover{
    transform: scale(1.15);
}
.thumbnail-image{
    display: block;
    width: 100%;
}
.thumbnail-title{
    display: block;
    margin: 0px;
    padding: 4px 10px;
    color: #B6FFED;
    font-size: 30px;
}
.thumbnail-item > a{
    text-decoration: none;
}
.hidden-detail .detail-image-container{
    display: none;
}
.hidden-detail .thumbnail-list{
    flex-direction: column;
    align-items: center;
}
.hidden-detail .thumbnail-item{
    max-width: 80%;
}
@media all and (orientation: landscape){
    .main-content{
        flex-direction: row;
        overflow: hidden;
    }
    .thumbnail-list{
        flex-direction: column;
        overflow-x: hidden;
        margin-right: 20px;
        margin-top: 0;
        padding: 0 20px;
    }
    .detail-image-container{
        order: 0;
    }
    .thumbnail-item{
        max-width: 250px;
    }
    .thumbnail-item + .thumbnail-item{
        margin-top: 20px;
    }
}
@media screen and (max-width: 1000px) and (max-height: 500px) and (orientation: landscape){
    .logo-text{
        font-size: 35px;
    }
    .thumbnail-item{
        max-width: 180px;
    }
    .thumbnail-title{
        font-size: 25px;
    }
    .detail-image-frame{
        height: 90%;
    }
    .detail-image{
        height: 85%;
    }
    .detail-image-title{
        font-size: 30px;
        bottom: 0px;
    }
}
